# Created by .ignore support plugin (hsz.mobi)
/data_raw/
/databases/prediction_future_efficiency/
/databases/prediction_today_efficiency/
/databases/today_energy_consumption/
/databases/training_and_testing/